$white : #fff;

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
  background-color: $white;
}

@font-face {
	font-family: 'DINPro-Bold';
	src: url(../fonts/DINPro-Bold.woff) format('woff'),
	url(../fonts/DINPro-Bold.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro-Regular';
	src: url(../fonts/DINPro-Regular.woff) format('woff'),
	url(../fonts/DINPro-Regular.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamPro-Black';
	src: url(../fonts/GothamPro-Black.woff) format('woff'),
	url(../fonts/GothamPro-Black.woff2) format('woff2');
	font-weight: normal;
	font-style: normal;
}

