{{!SAMPLE_PAGE}}
<!DOCTYPE html>
<html lang='en'>
{{!Head}}
<head>
  {{> ../components/_head}}
  <title>Archimatika</title>
</head>
<body>
  

  {{!main_content}}
  <main data-page='home'>
   
  {{> sections/Head_section}}

    {{> sections/Results_section}}

    {{> sections/Articles_section}}

    {{> sections/About_section}}

    {{> sections/ProjectStart_section}}

  {{> sections/Footer_section}}

    
  </main>
  
  {{!scripts}}
  {{> ../components/_scripts}}
</body>
</html>







