<div class="about">
	<div class="about_content">
	<img class="about_mainImg" src="static/img/about1.jpg" alt="Building">
	<!-- /.about_mainImg  -->
	
	<div class="about_happy">Happy</div>
	<!-- /.about_happy  -->

	<div class="about_happiness">
		<span>Делать обитателей счастливыми</span>
		<p>Здания возводятся для людей, поэтому мы никогда не ставим комфорт в угоду эстетики и оригинальности. Так создается уникальная среда комфортной жизни.</p>
	</div>
	<!-- /.about_happiness -->

	<div class="about_project">
		<span>Делать коммерчески прибыльные проекты</span>
		<p>Мы соединяем архитектурную выразительность, коммерческую логику и рентабельность. Сегодня это незаменимые компоненты прибыльного проекта.</p>
	</div>
	<!-- /.about_project -->

	<div class="about_cities">
		<span>Делать города красивыми</span>
		<p>Никогда не портим неповторимый облик города, остаемся верны принципу «не навреди». Сохраняем выразительность объекта, не жертвуя окружающим пространством.</p>
	</div>
	<!-- /.about_cities -->

	<div class="about_gain"><span>От такого подхода <br>
		выигрывают все:</span></div>
			<!-- /.about_gain -->

	<div class="about_principles">
		<div class="about_principles_principle">
			<img src="static/img/principle.jpg" alt="principle building">
			<span>Люди</span>
			<p>покупают квартиры с 
			продуманными планировками. Подъезды в которые приятно 
			входить. Придомовую территорию, по которой хочеться гулять.</p>
		</div>
		<!-- /.about_principles_principle -->
		<div class="about_principles_principle">
			<img src="static/img/principle.jpg" alt="principle building">
			<span>Заказчики</span>
			<p>спокойны, потому что знают — 
			объекты Архиматики выгодно 
			выделяются на фоне других 
			застройщиков, а качество и 
			продуманность на порядок выше.</p>
		</div>
		<!-- /.about_principles_principle -->
		<div class="about_principles_principle">
			<img src="static/img/principle.jpg" alt="principle building">
			<span>Застройщики</span>
			<p>получают реальную к исполнению документацию, проработанную до последнего гвоздя. 
			Получают вовремя!</p>
		</div>
		<!-- /.about_principles_principle -->
	</div>
	<!-- /.about_principles -->

	<div class="about_principlesH">
		<div class="about_principles_principle">
			<img src="static/img/principle.jpg" alt="principle building">
			<span>Люди</span>
			<p>покупают квартиры с 
			продуманными планировками. Подъезды в которые приятно 
			входить. Придомовую территорию, по которой хочеться гулять.</p>
		</div>
		<!-- /.about_principles_principle -->
		<div class="about_principles_principle">
			<img src="static/img/principle.jpg" alt="principle building">
			<span>Заказчики</span>
			<p>спокойны, потому что знают — 
			объекты Архиматики выгодно 
			выделяются на фоне других 
			застройщиков, а качество и 
			продуманность на порядок выше.</p>
		</div>
		<!-- /.about_principles_principle -->
		<div class="about_principles_principle">
			<img src="static/img/principle.jpg" alt="principle building">
			<span>Застройщики</span>
			<p>получают реальную к исполнению документацию, проработанную до последнего гвоздя. 
			Получают вовремя!</p>
		</div>
		<!-- /.about_principles_principle -->
	</div>
	<!-- /.about_principlesH -->

	<div class="about_showPrinciples"><span>Смотреть все принципы</span></div>
	<!-- /.about_showPrinciples -->

	</div>
	<!-- /.about_content -->

</div>