<div class="footer">
	
	<div class="footer_social">
		
		<img src="static/img/footerA.png" alt="logo">

			<div class="footer_social_tel">
				<span>Телефон</span>
				<p>380 44 228 77 28</p>
			</div>

		<div class="footer_social_link">
			<a href="#">facebook</a>
			<a href="#">liveJournal</a>
		</div>

	</div>
	<!-- /.footer_social -->

	<div class="footer_nav1">

		<ul>
			<li><a href="#">наш подход</a></li>
			<li><a href="#">процесс работы</a></li>
			<li><a href="#">проекты</a></li>
			<li><a href="#">о компании</a></li>
		</ul>

	</div>

	<!-- /.footer_nav1 -->
	<div class="footer_nav2">

		<ul>
			<li><a href="#">инженерные работы</a></li>
			<li><a href="#">наша экспертиза</a></li>
			<li><a href="#">журнал</a></li>
			<li><a href="#">контакты</a></li>
		</ul>

	</div>
	<!-- /.footer_nav2 -->

	<div class="footer_mail">
		
		<span>Для сотрудничесива</span>
		<p>offers@archimatika.com</p>

		<div class="footer_mail_media">
			<span>Для СМИ</span>
			<p>vasilenko.yu@archimatika.com</p>
		</div>

	</div>
	<!-- /.footer_mail -->

	<div class="footer_year">
		<span>©2018 Archimatica</span>
	</div>
	
	<div class="footer_by">

		<span>by</span>
		<img src="static/img/footerByImg.png" alt="V">

	</div>



</div>
<!-- /.footer -->



