<div class="beginning">
	
	<span>С чего начать?</span>

	<p>Создадим ваш проект с нуля или оценим существующий, укажем на слабые места 
	и сильные стороны, расскажем, как повысить его финансовую привлекательность. 
	Расскажем о подводных камнях и поможем избежать их.</p>

	<div class="beginning_line1"></div>
	<div class="beginning_line2"></div>
		
	<a href="#">Оценить проект</a>

	<div class="beginning_line3"></div>
	<div class="beginning_line4"></div>

</div>
<!-- /.beginning -->